# Ignore environment settings
.env*

# Ignore node modules
**/node_modules
**/venv

# Ignore logs
logs
*.log
npm-debug.log*

# Ignore version control directories
.git
.gitignore

# Ignore build output directories
/dist
/out
/build

# Ignore temporary files
*.tmp
*.temp

# Ignore configuration files that are not needed
.dockerignore
Dockerfile
*.md
LICENSE
.DS_Store
*.pem

# Local database files
*.db